{% extends "acp/layout.html" %}

{% block content %}

    <h1>Магазины</h1>

    <div class="actions">
        <a class="action_button add" href="/acp/stores/add/">Добавить</a>
    </div>

    <table>
        <thead>
            <tr>
                <th><a href="?sort=id">ID магазина</a></th>
                <th><a href="?sort=link">Ссылка на страницу магазина</a></th>
                <th><a href="?sort=city">Город</a></th>
                <th><a href="?sort=title">Расположение</a></th>
                <th><a href="?sort=manager_id">Менеджер</a></th>
                <th><a href="?sort=franchisee">Франчайзи</a></th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for store_id in sorted_stores_ids %}
                <tr>
                    <td>{{ store_id }}</td>
                    <td>{{ stores[store_id]['link'] }}</td>
                    <td>{{ stores[store_id]['city'] }}</td>
                    <td>{{ stores[store_id]['title'] }}</td>
                    <td>{{ managers[stores[store_id]['manager_id']]['name'] }}</td>
                    <td>{{ stores[store_id]['franchisee'] }}</td>
                    <td>
                        <a class="action_button" href="/acp/stores/{{ store_id }}">Просмотр</a>
                        <a class="action_button edit" href="/acp/stores/edit/{{ store_id }}">Редактировать</a>
                        <a class="action_button delete" href="/acp/stores/delete/{{ store_id }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}